table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: none;
  text-align: right;
  padding: 30px;
  height: 100px;
}

hr.new4 {
  border: 1px solid rgb(22, 22, 22);
}

.operation {
  margin-right: 50px !important;
}

.line {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding: 3px 10px;
}

.print-friendly {
  page-break-inside: avoid;
}

